{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Chat{% endblock %}</h1>
{% endblock %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            let socket = io();
            socket.on('message', function (data) {
                $('#chat').val($('#chat').val() +'<' +  data.sent + '> ' +
                    data.username + ': ' +  data.msg + '\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });


            $('#text').keypress(function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    text = $('#text').val();
                    $('#text').val('');
                    socket.emit('text', {msg: text});
                }
            });
        });
    </script>

    <h1>Chatroom</h1>
    {% for msg in messages %}
        <script type="text/javascript">
        $(document).ready(function() {
            $('#chat').val($('#chat').val() + '<' + '{{ msg['sent'].strftime('%m-%d-%Y %H:%M') }}' + '> ' +
                '{{ msg['sent_by'] + ': ' +msg['message']}}' + '\n');
            $('#chat').scrollTop($('#chat')[0].scrollHeight);
        });
        </script>
    {% endfor %}
    <textarea id="chat" cols="80" rows="20"></textarea><br><br>
    <input id="text" size="80" placeholder="Enter your message here"><br><br>


{% endblock %}