{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Chatroom{% endblock %}</h1>
{% endblock %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script type="text/javascript">
        let socket = io();
        socket.on('message', (data) => {
            addMessageToMessageBox(data);
        });

        function addMessageToMessageBox(data){
            let e = document.createElement('p');
            let sp = document.createElement('span');
            sp.innerHTML = data.username;
            e.appendChild(sp);
            e.innerHTML = e.innerHTML+': '+ data['message'];
            document.getElementById('message-box').appendChild(e);

            if(document.getElementById('message-box').children.length>50){
                document.getElementById('message-box').removeChild(document.getElementById('message-box').children[0]);
            }
            document.getElementById('message-box').scroll(0, document.getElementById('message-box').scrollHeight);
        }

        function htmlEntities(str) {
            return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
        }

        function sendMessage(){
            socket.emit('text', {'msg':  htmlEntities(document.getElementById('message-input').value)});
            document.getElementById('message-input').value = '';
        }
         $(document).ready(function() {
             $('#input-box').keypress(function (e) {
                 var code = e.keyCode || e.which;
                 if (code == 13) {
                     sendMessage()
                 }
             });
         });
        function addMessageToMessageBoxDB(data){

        }
    </script>

    <section id="chat-box">
	<section id="message-box">
	</section>

	<section id="input-box">
		<input type="text" autofocus required placeholder="Enter your message here" id="message-input">
		<button type="button" id="send-button" onclick="sendMessage()" >SEND</button>
	</section>
    </section>
    <script type="text/javascript">
        var e;
        var s;
        {% for msg in messages %}

                e = document.createElement('p');
                sp = document.createElement('span');
                sp.innerHTML = '{{msg['sent_by']}}';
                e.appendChild(sp);
                e.innerHTML = e.innerHTML+': '+ '{{msg['message']}}';
                document.getElementById('message-box').appendChild(e);
        {% endfor %}
    </script>
{% endblock %}